body{
    display: flex;
    flex-direction: column;
    margin: 0;
    /*font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    */
}

.header{
    display: flex;
    background-color:#1F2937;
    justify-content: space-around;
    height: 40px;
    align-items: center;
}

.logo{
    display: flex;
    color:#F9FAF8 ;
    font-size: 24px ;
    padding-right: 0px;
}

ul{
    display: flex;
    list-style: none;
    gap: 25px;
}
a, .left-text p{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/*main section*/
.main{
    background-color:#1F2937;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.left-text h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800; /*extra bold ???*/
}

.left-text {
    max-width: 400px;
}

.left-text button{
    background-color: #3882F6;
    color: #F9FAF8; /*??????? idk wat color but all these whites are the same shit lol*/
    width: 120px;
    height: 35px;
    font-size: 17px;
    border-radius: 10px;
    border-width: 0px;
}

.right-image img{
    width: 500px;
}

/*INFO*/

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 450px;
}
.info h2{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-top: 40px;
}

.info p{
    font-size: 18px;
    color: #1F2937;
}

.allCards{
    display: flex;
    gap: 25px;
}
.info img{
    width: 180px;
    border-radius: 10%;
    border: 5px solid #3882F6;
}

.card{
    max-width: 200px;
}

/*QUOTE*/
.quote-section{
    min-height: 380px;
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote{
    display: flex;
    flex-direction: column ;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    max-width: 900px;
    margin: 0;
    margin-top:30px;
}

.quote-author{
    align-self: flex-end;
    font-size: 30px;
    font-weight: 800;
    margin: 0;
    margin-top: 10px;
    
}

/*CALL TO ACTION*/
.sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.sign-up-content{
    background-color: #3882F6;
    min-width: 1100px;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

.sign-up-content button{
    min-width: 130px;
    min-height: 35px;
    border-radius: 10px;
    background-color: #3882F6;
    border: 3px solid #F9FAF8;
    color: #F9FAF8;
    font-size: 18px;
}

.sign-up-content h3{
    color: #F9FAF8;
    font-size: 27px;
    margin: 0px;
}
.sign-up-content p{
    color: #E5E7EB;
    font-size: 19px;
    margin: 0px;
}


/*Footer*/

.footer{
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 18px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Colors and fonts
dark background color: #1F2937
Hero Main text: 48px extra-bold #F9FAF8

Hero secondary text, Header Link Text: 18px #E5E7EB
Header Logo Text: 24px #F9FAF8

Button color, call to action background colo: #3882F6

information header text: 36px extra bold #1F2937

Quote section bvackground color: #E5E7EB

Quote text: 36px light italic #1F2937
*/